@model List<SistemaElectoral.Models.PersonaModel>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-light text-center">LISTA DE USUARIOS</h2>

<p>
    @Html.ActionLink("CREAR NUEVO", "Nuevo", "Persona", null, new { @class="text-light" })
</p>

<div id="scroll-table" class="table-responsive">
    <table class="table text-light table-bordered">
        <tr class="text-center">
            <th>IDENTIFICACIÓN</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>EDAD</th>
            <th>GENERO</th>
            <th>OPCIONES</th>
        </tr>

        @foreach(var item in Model) {
            <tr>
                <td>@Html.DisplayFor(model => item.id)</td>
                <td>@Html.DisplayFor(model => item.nombre)</td>
                <td>@Html.DisplayFor(model => item.apellido)</td>
                <td>@Html.DisplayFor(model => item.edad)</td>
                <td>@(item.genero == "M" ? "Masculino" : "Femenino")</td>
                <td class="text-center">
                    <a asp-action="Detalle" asp-route-id="@item.id" class="text-light">VER</a> |
                    <a asp-action="Modificar" asp-route-id="@item.id" class="text-light">MODIFICAR</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.id" class="text-light" >ELIMINAR</a>
                </td>
            </tr>
        }
    </table>
</div>
