@model List<EleccionModel>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-light text-center">LISTA DE ELECCIONES</h2>

<a asp-action="Nuevo" class="text-light">CREAR NUEVA ELECCION</a>

<div class="table-responsive">
    <table class="table text-light table-bordered">
        <tr class="text-center">
            <th>NOMBRE</th>
            <th>FECHA INICIO</th>
            <th>FECHA FIN</th>
            <th>OPCIONES</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.nombre</td>
                <td>@item.fecha_inicio</td>
                <td>@item.fecha_fin</td>

                <td class="text-center">
                    <a asp-action="Modificar" asp-route-id="@item.id" class="text-light">MODIFICAR</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.id" class="text-light">ELIMINAR</a>
                </td>
            </tr>
        }
    </table>
</div>
