@using SistemaElectoral.Data
@model InstitucionModel


@{
    ViewData["Title"] = "Index";
}

<h2 class="text-light text-center">INFORMACION</h2>

<div>
    <dl class="text-light">
        <dt>
            NOMBRE
        </dt>
        <dd>
            @Model.nombre
        </dd>
        
        <dt>
            REGISTRO
        </dt>
        <dd>
            @Model.registro
        </dd>

        <dt>
            TELEFONO
        </dt>
        <dd>
            @Model.telefono
        </dd>

        <dt>
            NOMBRE DEL RECTOR
        </dt>
        <dd>
            @Model.nombre_rector
        </dd>

        <dt>
            DIRECCION
        </dt>
        <dd>
            @((ViewData["Ubicacion"] as UbicacionModel).direccion.ToString())
        </dd>

        <dt>
            MUNICIPIO
        </dt>
        <dd>
            @((ViewData["Municipio"] as MunicipioModel).nombre)
        </dd>

        <dt>
            DEPARTAMENTO
        </dt>
        <dd>
            @(DepartamentoData.ObtenerNombreDepartamento((ViewData["Municipio"] as MunicipioModel).fk_id_departamento))
        </dd>
    </dl>
</div>

<a asp-action="Modificar" class="text-light">Modificar</a>


