@using SistemaElectoral.Data
@model SistemaElectoral.Models.Convocatoria

@{
    ViewBag.Title = "Detalle";
}

<h2 class="text-light text-center">DETALLE CONVOCATORIA</h2>

    @*<hr/>*@

<div>
    <dl id="detalle" class="text-light">
        <dt class="form-group" id="input-50">
            ID
        </dt>
        <dd class="form-group" id="input-50">
            @Model.id
        </dd>
           
        <dt class="form-group" id="input-50">
            NOMBRE
        </dt>
        <dd class="form-group" id="input-50">
            @Model.nombre 
        </dd>
        
        <dt class="form-group" id="input-50">
            FECHA INICIO
        </dt>
        <dd class="form-group" id="input-50">
            @Model.fecha_inicio
        </dd>
        
        <dt class="form-group" id="input-50">
            FECHA FIN
        </dt>
        <dd class="form-group" id="input-50">
            @Model.fecha_fin
        </dd>

        <dt class="form-group" id="input-50">
            CANTIDAD MAXIMA DE GANADORES
        </dt>
        <dd class="form-group" id="input-50">
            @Model.cant_ganadores
        </dd>

        <dt class="form-group" id="input-50">
            CARGO
        </dt>
        <dd class="form-group" id="input-50">
            @CargoData.ObtenerNombreCargo(Model.fk_id_cargo)
        </dd>

        <dt class="form-group" id="input-50">
            ELECCION
        </dt>
        <dd class="form-group" id="input-50">
            @EleccionData.Consultar(Model.fk_id_eleccion).nombre
        </dd>
        <dt class="text-center" id="input-100">
            CONDICIONES
        </dt>
        <dd class="form-group">
            <ol>
                @for(int i = 0; i < Model.condiciones.Count; i++)
                {
                    <li>
                         <label>@Model.condiciones[i].Text</label>
                    </li>
                }
            </ol>
        </dd>
    </dl>

    <div class="text-center">
        <a asp-action="Inscriptos" asp-route-id="@Model.id" class="text-light ">VER INSCRITOS</a> 
        <a asp-action="Entrar" asp-route-id="@Model.id" class="text-light">INSCRIBIRSE</a>
    </div>

 
</div>
<div class="text-lg-end">
    <a asp-action="Index" asp-route-id="@Model.id" class="text-light">VOLVER</a>
</div>
