@model SistemaElectoral.Models.Convocatoria

@{
    ViewBag.Title = "Modificar";
}

<h2 class="text-light text-center">MODIFICAR CONVOCATORIA</h2>


<form asp-action="Actualizar" method="post" id="modificar">
    @Html.HiddenFor(m => m.id)
    @*@Html.HiddenFor(m => m.fk_id_cargo)*@
    @*@Html.HiddenFor(m => m.fk_id_comite)*@
    @*@Html.HiddenFor(m => m.fk_id_eleccion)*@

    <div class="form-group mb-3">
        <label class="text-light">NOMBRE</label>
        @Html.EditorFor(m => m.nombre, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="mb-3">
        <label class="text-light">FECHA INICIO</label>
        @Html.EditorFor(m => m.fecha_inicio, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="mb-3">
        <label class="text-light">FECHA FIN</label>
        @Html.EditorFor(m => m.fecha_fin, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    @*<div class="mb-3">
        <label class="text-light">CARGO</label>
        @Html.EditorFor(m => m.fk_id_cargo, new { htmlAttributes = new { @class = "form-control" } })
    </div>*@

    <div class="form-group mb-3">
            <label class="text-light">CARGO</label>
            <select asp-for="fk_id_cargo" asp-items="@(new SelectList( (ViewData["Cargo"] as List<CargoModel>), "id", "nombre" ))" class="form-control"></select>
    </div>

    <div class="form-group mb-3">
            <label class="text-light">ELECCION</label>
            <select asp-for="fk_id_eleccion" asp-items="@(new SelectList( (ViewData["Eleccion"] as List<EleccionModel>), "id", "fecha_inicio" ))" class="form-control"></select>
    </div>

    @*<div class="mb-3">
        <label class="text-light">FECHA VOTACIÓN</label>
        @Html.EditorFor(m => m.fk_id_eleccion, new { htmlAttributes = new { @class = "form-control" } })
    </div>*@

    <div class="form-group mb-3 text-center">
        <button class="btn btn-light" type="submit">Guardar</button>
    </div>
</form>

<div class="text-lg-end">
    <a asp-action="Index" class="text-light">VOLVER</a>
</div>